@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Account created";
    Layout = "~/Views/Shared/_LayoutClean.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    Your account has been successfully created
</p>
